<ion-header>
  <ion-toolbar>
    <ion-title>Transaction List</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="return()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h3 class="title">Latest Transactions</h3>
    <div class="latest__transactions">
      <div
        *ngFor="let transaction of transactions.reverse()"
        class="latest__transaction"
      >
        <h5 [ngClass]="{ 'failed-transaction': transaction.failed }">
          {{ transaction.title }}
        </h5>
        <div class="amount">
          <h6>{{ transaction.date }}</h6>
          <p>&#8369; {{ transaction.amount }}</p>
        </div>
        <ion-button
          *ngIf="transaction.title !== 'Payment Successful'"
          (click)="confirmPayment(transaction)"
        >
          Confirm Payment
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
