<ion-list>
  <ion-item>
    <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-item>
  <ion-item lines="none">
    <table>
      <tr
        *ngFor="let user of users; let i = index"
        [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }"
      >
        <td class="account-label">
          {{ user.name }}
          <ion-button size="small" (click)="viewTransactions(user)"
            >View</ion-button
          >
        </td>
      </tr>
    </table>
  </ion-item>
</ion-list>
