<div class="container">
  <div class="input-group">
    <ion-select
      label="Select User"
      placeholder="Select User"
      label-placement="stacked"
      [(ngModel)]="userID"
      name="userID"
      required
    >
      <ng-container *ngFor="let user of userSelection">
        <ion-select-option [value]="user.id">
          {{ user.name }}
        </ion-select-option>
      </ng-container>
    </ion-select>
  </div>
  <div class="input-group">
    <ion-datetime
      label="Select Date"
      label-placement="stacked"
      displayFormat="DD/MM/YYYY"
      placeholder="Select Date"
      [(ngModel)]="selectedDate"
      (ionChange)="onDateChange($event)"
      name="selectedDate"
      required
    >
    </ion-datetime>
  </div>
  <div class="input-group">
    <ion-input
      label="Rate"
      label-placement="stacked"
      type="number"
      placeholder="Rate Value"
      [(ngModel)]="rate"
      (input)="onCheckChange($event)"
      name="rate"
      required
    ></ion-input>
  </div>
  <div class="input-group">
    <ion-input
      label="Consumption"
      label-placement="stacked"
      type="number"
      placeholder="Enter Consumption"
      [(ngModel)]="consumption"
      (input)="onCheckChange($event)"
      name="consumption"
      required
    >
    </ion-input>
  </div>
  <div class="input-group">
    <ion-input
      label="Total"
      label-placement="stacked"
      type="number"
      placeholder="Total"
      [(ngModel)]="total"
      name="total"
      [readonly]="true"
      required
    ></ion-input>
  </div>
  <ion-button expand="block" color="primary" (click)="setBill()">
    Submit
  </ion-button>
</div>
