.container {
  padding: 1rem;
  width: 100%;
  overflow-x: auto;
  table {
    background-color: #fff;
    tr {
      th {
        color: #000 !important;
      }
      td {
        padding: 0.5rem;
        border: 1px solid #000;
        text-align: center;
        color: #000 !important;
        p {
          margin: 0;
        }
      }
      td.note {
        p.note {
          width: 200px;
          text-align: justify;
        }
      }
    }
  }
}
